In [1]:
import pandas as pd

In [2]:
calendar = pd.read_csv(r'C:\Users\paula\OneDrive\Curso\Henry\M5\Proyecto Integrador\2 AirBnB\calendar.csv')
calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,50778,2020-04-26,f,"$2,655.00","$2,655.00",5.0,1125.0
1,133654,2020-04-27,t,"$1,150.00","$1,150.00",4.0,1125.0
2,133654,2020-04-28,t,"$1,150.00","$1,150.00",4.0,1125.0
3,133654,2020-04-29,t,"$1,150.00","$1,150.00",4.0,1125.0
4,133654,2020-04-30,t,"$1,150.00","$1,150.00",4.0,1125.0

In [3]:
# Remover el s√≠mbolo de moneda y las comas, luego convertir a float
calendar['price'] = calendar['price'].replace('[\$,]', '', regex=True).astype(float)
calendar['adjusted_price'] = calendar['adjusted_price'].replace('[\$,]', '', regex=True).astype(float)

calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,50778,2020-04-26,f,2655.0,2655.0,5.0,1125.0
1,133654,2020-04-27,t,1150.0,1150.0,4.0,1125.0
2,133654,2020-04-28,t,1150.0,1150.0,4.0,1125.0
3,133654,2020-04-29,t,1150.0,1150.0,4.0,1125.0
4,133654,2020-04-30,t,1150.0,1150.0,4.0,1125.0

In [4]:
print(calendar[['listing_id', 'date', 'available', 'price', 'adjusted_price', 'minimum_nights', 'maximum_nights']].dtypes)

listing_id          int64
date               object
available          object
price             float64
adjusted_price    float64
minimum_nights    float64
maximum_nights    float64
dtype: object

In [5]:
calendar['available'] = calendar['available'].astype(bool)

print(calendar[['listing_id', 'date', 'available', 'price', 'adjusted_price', 'minimum_nights', 'maximum_nights']].dtypes)

listing_id          int64
date               object
available            bool
price             float64
adjusted_price    float64
minimum_nights    float64
maximum_nights    float64
dtype: object

In [6]:
calendar.to_csv('calendar_transformed.csv', index=False, decimal=',')